# ESIOS API
ESIOS_API_TOKEN=your_token_here

# ClearML (optional — usually configured via clearml-init)
# CLEARML_WEB_HOST=
# CLEARML_API_HOST=
# CLEARML_FILES_HOST=
# CLEARML_API_ACCESS_KEY=
# CLEARML_API_SECRET_KEY=

CLEARML_API_ACCESS_KEY=1IIWWT78MFIDTTZJN80YJ1XUX64ERZ
CLEARML_API_SECRET_KEY=Tvs9-Tvn8vJAw5QSwpcuvSkCrBCE2Bb2nsXpJnJAiH9tzEdTvE8rgjEZRGfNZEpo1iA